*{
  scroll-behavior: smooth;

}

body{
  background-color: #fff;
}


h1{
  position: relative;
  left: 120%;
  width: 100%;
  color: #fff;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  margin-top: 4rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight:600;
  letter-spacing: 0.3rem;
  color: #343a40;
}

hr{
  border:none;
  border-top: 4px dotted  #343a40;
  width: 30px;
}
/* Container */

.nbar {
  padding: 0;
}

.container-top .col-md-3{
  padding: 0;
  background-color: #F0361B;
  text-align: center;
}

.container-top .col-md-9 {
  padding: 0;
  background-color: #F0361B;
}

.container-top .block {
  background-color: #343a40;
  height: 1rem;
}

.container-top .block0 {
  background-color: #fff;
  height: 0.5rem;
}

.container-top .block2 {
  background-color: #fff;
  height: 1rem;
}

.container-content .col-md-3,.container-footer .col-md-3  {
  background-color: #343a40;
}

.container-content .col-md-9,.container-footer .col-md-9 {
  background-color: #fff;
}

.container-footer .col-md-9 {
  font-size: 13px;
  text-align: center;
}

.profilepic-img{
  margin: 3% 5% 3% 5%;
  width: 12rem;
  height:  12rem;
  border: 5px solid #fff;
}

.header .row .col-3, .header .row .col {
  background-color: #F0361B;
}

.content .row .col-md-3,  .footer .row .col-md-3 {
  background-color: #343a40;
}

.preheader .preheader-div {
    height: 4rem;
    background-color: #343a40;
}

.container-fluid .nbar {
    padding: 0;
}

.div-occupation {
  height: 2.5rem;
}

.content-h3 {
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  color: #F0361B;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sub-heading {
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  color: #000;
  padding-top: 2rem;
  padding-bottom:1rem;
}

.content-p {
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  margin-right: 1rem;
  word-wrap: break-word;
  display: none;
}

.content-h5-2a {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #000;
}

.content-h5-2b {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #F0361B;
}

.content-p-2 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.appimg {
  width: 6rem;
  height: 6rem;

}

.dbimg {
  width: 20rem;
  height: 8rem;

}

.home-visibility{
  display: none;
}

.float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  color: #092532;
  border-radius: 100%;
  text-decoration: none;
  z-index: 1;
  margin: 0;
}

.my-float {
  margin-top: 0;
}

#footer {
  color: white;
  font-size: 1rem;
  background-color: #092532;
  text-align: center;
}

.footer-img {
  padding: 10px;
}

/* Skills Images */
p#skillx_controls {
  margin-right:1em;
  display:inline-block;
  text-align:left;
  height: 18rem;
  width: 2.5rem;
}

#skillx_controls span {
  cursor:pointer;
  padding-right: 1rem;
  visibility: hidden;
}

#skillx {
  display:inline-block;
  position:relative;
  height:230px;
  width:220px;
  margin:0 auto;
}

#skillx img {
  position:absolute;
  height:230px;
  width:220px;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#skillx img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}


@media only screen and (max-width:900px) {
  h1{
    font-size: 2.1rem;
    margin-top: 2rem;
  }

  .profilepic-img{
    width: 10.5rem;
    height:  10.5rem;
  }

  /* .appimg {
    width: 4rem;
    height: 5rem;
  } */

  /* .dbimg {
    width: 14rem;
    height: 5rem;
  } */

  h3{
    padding-bottom: 1rem;
  }

}
